/*=============================================================
 PART 1
 Updating the css color schema for:
  - default DoTS-vue app
  - its collections & children (unless otherwise specified)
 =============================================================*/
/* Using themes TODO working in dev but not in build :
[data-theme="orange"] {
	--text-color: orange;
}
[data-theme="red"] {
    --text-color: #8f0e21;
    --fill-color: #8f0e21;
}*/
/* Using css variables */
:root {
    --text-color: #8f0e21;
    --fill-color: #8f0e21;
}

/*=============================================================
 PART 2
 Updating the css of specific elements (HTML) for:
  - default DoTS-vue app
  - its collections & children (unless otherwise specified)
 =============================================================*/
.about-page {
    & > .tab-menu {
        position: sticky;
        top: 80px;
    }
}
.about-content {
    & > h1 {
        color: var(--text-color)
    }
    & a {
        scroll-margin-top: 70px;
    }
}
.footnote:target:before {
  content: "☞" !important;
  position: absolute !important;
  margin: 0 1ex 0 -7.5ex !important;
  font-size: 16px !important;
}
.hidden-nav:hover {
    cursor: pointer;
    color: rgb(50, 115, 220);
}
.api-link {
    border-bottom: none;
}
header.card-header {
    clear: initial;
    padding: initial;
    border: initial;
    -webkit-border-radius: initial;
    -moz-border-radius: initial;
    border-radius: initial;
}
.card-content {
    overflow: auto;
}
cite.title {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
.container p {
    text-indent: inherit !important;
}
.container li {
    line-height: inherit;
}
.card-header {
    background:  hsl(0, 0%, 96%)  !important;
}
.card-header-title {
    align-items: initial;
    padding: 0;
    margin: 7px;
}
.hljs {
    background: inherit !important;
    white-space: pre-wrap !important;
}

/*=============================================================
 PART 3
 Updating the css of the DTS API tei response for:
  - default DoTS-vue app
  - its collections & children (unless otherwise specified)

 -> see PART 2: CUSTOM RULES in tei.css
 =============================================================*/
