name: Lint

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  eslint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 22
          - 23
          - 24
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - run: yarn install
      - run: yarn lint
